<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BT.SaaS.MSEO.MQService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<dataConfiguration defaultDatabase="BT.SaaS.Core.Provisioning.InboundQueue.Properties.Settings.INBOUNDQUEUEConnectionString" />
	<connectionStrings>
		<add name="BT.SaaS.Core.Provisioning.InboundQueue.Properties.Settings.INBOUNDQUEUEConnectionString"
		  connectionString="Data Source=10.54.13.208,49400;Initial Catalog=INBOUNDQUEUE;User Id=vasfappuser;Password=Fon3H0me"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
		defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="Enterprise Library Logging" formatter="Text Formatter"
					log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					name="Formatted EventLog TraceListener" />
			<add source="MSEO MQService Adapter" formatter="Text Formatter"
					log="BT SaaS" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					name="BT SaaS ISPSS Adapter EventLog" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					traceOutputOptions="None" filter="All" type="BT.SaaS.Core.Shared.ErrorManagement.EventServiceListener.EventServiceTraceListener, BT.SaaS.Core.Shared.ErrorManagement.EventServiceListener, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
					name="BT SaaS Event Trace Listener" initializeData="" formatter="Text Formatter" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					traceOutputOptions="None" filter="All" type="BT.SaaS.Core.Shared.ErrorManagement.DebugTraceListener, BT.SaaS.Core.Shared.ErrorManagement, Version=2.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					name="BT SaaS Custom Trace Listener" initializeData="" formatter="Text Formatter" />
			<add fileName="C:\App_Logs\ThomasLogs\ThomasException.csv" footer="" formatter="Log Formatter"
			 header="" rollFileExistsBehavior="Increment" rollInterval="Midnight"
			 rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			 traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			 name="Exception Trace Listener"/>
			<add fileName="C:\App_Logs\ThomasLogs\ThomasMessageTrace.csv" footer="" formatter="Log Formatter"
			  header="" rollFileExistsBehavior="Increment" rollInterval="Midnight"
			  rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Rolling Flat File Trace Listener"/>
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					  toAddress="ukesaas3ls@bt.com;saas-core-dev-team@bfsec.bt.co.uk" fromAddress="bt.service@bt.com"
					  subjectLineStarter="Serice has been stopped " subjectLineEnder="Guys Please restart the service"
					  smtpServer="smtp.intra.bt.com" formatter="Text Formatter"
					  traceOutputOptions="DateTime, Timestamp, ProcessId" />
			<add name="OrderCompleteNotificationTrace Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				  fileName="C:\App_Logs\MQNotificationExceptions\MQNotification.csv" rollFileExistsBehavior="Increment" formatter="OrderCompleteNotificationTrace Text Formatter" rollSizeKB="5120" rollInterval="Midnight" timeStampPattern="yyyy-MM-dd hh mm ss" traceOutputOptions="None" />
			<add fileName="C:\App_Logs\SpringLogs\SpringMessageTrace.csv"
				 formatter="Log Formatter" rollFileExistsBehavior="Increment"
				 rollInterval="Midnight" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff"
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="Spring Message Trace Listener" />
			<add fileName="C:\App_Logs\SpringLogs\SpringExceptionTrace.csv" formatter="Log Formatter"
				 rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
				 timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="Spring Exception Trace Listener" />

			<add fileName="C:\App_Logs\HCSWarrantyLogs\HCSWarrantyMessageTrace.csv"
					   formatter="Log Formatter" rollFileExistsBehavior="Increment"
					   rollInterval="Midnight" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff"
					   listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					   type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					   name="HCSWarranty Message Trace Listener" />
			<add fileName="C:\App_Logs\HCSWarrantyLogs\HCSWarrantyExceptionTrace.csv" formatter="Log Formatter"
				 rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
				 timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="HCSWarranty Exception Trace Listener" />

			<add fileName="C:\App_Logs\BTPlusMarkerLogs\BTPlusMarkerMessageTrace.csv"
					   formatter="Log Formatter" rollFileExistsBehavior="Increment"
					   rollInterval="Midnight" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff"
					   listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					   type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					   name="BTPlusMarker Message Trace Listener" />
			<add fileName="C:\App_Logs\BTPlusMarkerLogs\BTPlusMarkerExceptionTrace.csv" formatter="Log Formatter"
				 rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
				 timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="BTPlusMarker Exception Trace Listener" />

			<add fileName="C:\App_Logs\VoInfinityLogs\VoiceInfinityMessageTrace.csv"
				 formatter="Log Formatter" rollFileExistsBehavior="Increment"
				 rollInterval="Midnight" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd HH mm ss fff"
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="Voice Infinity Message Trace Listener" />
			<add fileName="C:\App_Logs\VoInfinityLogs\VoiceInfinityExceptionMessageTrace.csv" formatter="Log Formatter"
				 rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
				 timeStampPattern="yyyy-MM-dd HH mm ss fff" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
				 name="Voice Infinity Exception Trace Listener" />
			<add name="BTPlusMarkerListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\MSEOLogs\BTPlusMarkerLogs\BTPlusMarkerMessage.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
			<add name="BTCONSUMERBROADBANDListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\MSEOLogs\BTCBBLogs\BTCBBMessage.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
			<add name="ThomasListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\ThomasLogs\ThomasMessagelogs.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
			<add name="VASTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\MSEOLogs\ESBLogs\EBillinglogs.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
			<add name="VASExceptionTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\MSEOLogs\ESBLogs\EBillingExceptions.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
			<add name="ESBTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="C:\App_Logs\MSEOLogs\ESBLogs\APIGWMessage.csv" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;)}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Text Formatter" />
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					template="{timestamp}&#x2c;{message}&#x2c;{newline}"
					name="OrderCompleteNotificationTrace Text Formatter" />
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					  template="{timestamp(local:dd/MM/yyyy HH:mm:ss:fff)}&#x2c;{message}"
					  name="Log Formatter" />
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)},{severity},{message}" name="VAS Trace Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="ExceptionTrace">
				<listeners>
					<add name="Exception Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="MQNotificationsExceptionTrace">
				<listeners>
					<add name="OrderCompleteNotificationTrace Log Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="MailLogTrace">
				<listeners>
					<add name="Email Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="MessgaeTrace">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="BT SaaS">
				<listeners>
					<add name="BT SaaS ISPSS Adapter EventLog" />
					<add name="BT SaaS Event Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="BT SaaS Debug">
				<listeners>
					<add name="BT SaaS Custom Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="SpringMessageTrace">
				<listeners>
					<add name="Spring Message Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="SpringExceptionTrace">
				<listeners>
					<add name="Spring Exception Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="HCSWarrantyMessageTrace">
				<listeners>
					<add name="HCSWarranty Message Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="HCSWarrantyExceptionTrace">
				<listeners>
					<add name="HCSWarranty Exception Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="BTPlusMarkerMessageTrace">
				<listeners>
					<add name="BTPlusMarker Message Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="BTPlusMarkerExceptionTrace">
				<listeners>
					<add name="BTPlusMarker Exception Trace Listener" />
				</listeners>
			</add>
			<!-- Voice Infinity new config-->
			<add switchValue="All" name="VoInfinityTrace">
				<listeners>
					<add name="Voice Infinity Message Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="VoInfinityTraceException">
				<listeners>
					<add name="Voice Infinity Exception Trace Listener" />
				</listeners>
			</add>
			<!-- end-->
			<add switchValue="All" name="BTPlusMarkerTrace">
				<listeners>
					<add name="BTPlusMarkerListener" />
				</listeners>
			</add>
			<add switchValue="All" name="BTCONSUMERBROADBANDTrace">
				<listeners>
					<add name="BTCONSUMERBROADBANDListener" />
				</listeners>
			</add>
			<add switchValue="All" name="ThomasTrace">
				<listeners>
					<add name="ThomasListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VASEligilityTrace">
				<listeners>
					<add name="VASTraceListener" />
				</listeners>
			</add>
			<add switchValue="All" name="VASEligilityExceptionTrace">
				<listeners>
					<add name="VASExceptionTraceListener" />
				</listeners>
			</add>
			<add switchValue="All" name="ESBCallsTrace">
				<listeners>
					<add name="ESBTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
					numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
					type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
					name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<appSettings>
		<add key="EventIdRef" value="603" />
		<add key="mdmCacheRefreshTimeMinutes" value="20" />
		<add key ="IgnoreProductList" value =""/>
		<add key ="ProductsWithServiceName" value ="S0001300-PR0000000003800-TA0000000003800;S0162974;S0162977;S0220584"/>
		<add key ="MQRequestQueueName" value ="BT.AL.MSE.GNC_OFS_TO_MSE_REQ.01"/>
		<add key ="MQRequestHostname" value ="10.54.145.31(51414)"/>
		<add key ="MQRequestPort" value ="51414"/>
		<add key ="MQRequestQueueManager" value ="BT.QM.EMBH30P4"/>
		<add key="IsdefaultemailsupplierMX" value="true"/>
		<!--<add key ="MQRequestUserName" value ="saasmq"/>
    <add key ="MQRequestPassword" value ="saasmq"/>-->
		<add key ="MQRequestChannel" value ="MSE.SVRCONN.C1"/>
		<add key ="MQResponseQueueName" value ="BT.AL.MSE.GNC_MSE_TO_OFS_RES.01"/>
		<add key ="MQResponseHostname" value ="10.54.145.31(51414)"/>
		<add key ="MQResponsePort" value ="51414"/>
		<add key ="MQResponseQueueManager" value ="BT.QM.EMBH30P4"/>
		<!--<add key ="MQResponseUserName" value ="saasmq"/>
    <add key ="MQResponsePassword" value ="saasmq"/>-->
		<add key ="MQResponseChannel" value ="MSE.SVRCONN.C1"/>
		<add key="GaurdProducts" value="S0162974-NPPLUS2;S0220584-FP"/>
		<add key="DnPUser" value="au1000007" />
		<add key="DnPPassword" value="auiooooo7" />
		<add key="FPITEMSKU" value="691-38614-7usermfpo;691-41984-mfpm;691-32541-mfpo"/>
		<add key="NPPITEMSKU" value="691-29427-7usermpcspbt;691-39521-7usermsmbt"/>
		<add key="VASContentAnyWhereProductFamily" value="ContentAnywhere"/>
		<add key="VASProductFamily" value="BasicSecurity;AdvancedSecurity;ContentAnywhere;Email;ContentFiltering;BTWIFI;NetworkSecurity;Bonded Wi-Fi"/>
		<add key="VASSubType" value="MAC;Windows;Default;Common"/>
		<add key ="CAService" value="CONTENTANYWHERE:DEFAULT"/>
		<add key="MigrationSwitch"  value="OFF" />
		<add key="WifiSwitch"  value="ON" />
		<add key ="Email-Strategic TBB_VASClass" value ="1410"/>
		<add key ="Email-Strategic INF_VASClass" value ="1410"/>
		<add key="Email-Strategic_TBB_ISPSC" value ="ISP_SC_1;ISP_SC_2;ISP_SC_3"/>
		<add key ="Email-Strategic_INF_ISPSC" value ="ISP_SC_INFINITY_1;ISP_SC_INFINITY_2;ISP_SC_INFINITY_3;ISP_SC_INFINITY_4"/>
		<add key ="DanteEMailProdCode" value ="Email"/>
		<add key ="WifiProdCode" value ="BTWIFI"/>
		<add key ="BTIEmailIdentityStatus" value ="reserved,unreserved,proposed,available"/>
		<add key ="TransitionSwitch" value="TRANSITION-2" />
		<add key ="DanteIdentifier" value="BTIEMAIL:DEFAULT"/>
		<add key ="WifiIdentifier" value="BTWIFI:DEFAULT"/>
		<add key ="DanteIdentifierInMDM" value="EMAIL:DEFAULT"/>
		<add key ="CHOIdentifier" value="BT_CONSUMER_BROADBAND"/>
		<add key="AccountTrustMethodStatus" value ="claimed,provedbyorder,provedoffline"/>
		<add key="BTSportsProductCode" value="S0309824"/>
		<add key ="LogFilePath" value="C:\App_Logs\ThomasLogs"/>
		<add key="VoInfinityLogFilePath" value="C:\App_Logs\VoInfinityLogs" />
		<add key ="SleepTimeoutInMilliSec" value="5000"/>
		<add key="RetryCountForThomasProvide" value="5"/>
		<add key="isThomasNewJourneySwitch" value="true"/>
		<add key="VASMigrationSwitch"  value="OFF" />
		<add key="E2EData" value="busProcOriginator=MSEO,busProcType=PlaceOrder,busTxnType=ManageOrder"/>
		<add key="ProjectID" value="MSEO"/>
		<add key="Component" value="ManageOrder"/>
		<add key="logHandlingFilename" value ="C:\SAASMSEO\BPTM\logHandling.properties"/>
		<add key="logMessagesFilename" value ="C:\SAASMSEO\BPTM\LogMessages.properties"/>
		<add key ="destinationBtcom" value="BT.com"/>
		<add key ="destinationOfs" value="OFS"/>
		<add key ="destinationOneView" value="OneView"/>
		<add key ="destinationDnP" value="SEF-CC-DP-ManageWS"/>
		<add key ="destinationRIOSS" value="RIOSS"/>
		<add key ="destinationHestia" value="HESTIA"/>
		<add key ="destinationESB" value="RoBTESB"/>
		<add key="VASEarlyActivationProducts"  value="Email;BTWIFI;Bonded Wi-Fi"/>
		<add key="VASUpgradeProducts"  value="CONTENTANYWHERE:DEFAULT;BTWIFI:DEFAULT;ADVANCEDSECURITY:COMMON"/>
		<add key="SpringWIFIServiceTier" value="20"/>
		<add key="BBWIFIServiceTier" value="10"/>
		<add key="BBWifiVasProductCode" value="VPWF000010"/>
		<add key="scodes" value="S0145868,S0316296"/>
		<add key="CmpsHead" value="https://apigw2-con-prod.app13680p2.robt.euwe2.prd-plat.int.aws.bt.com:53050/bt-consumer/v1/assets?billingaccounts={billingaccounts}"/>
		<add key="CmpsTail" value="responseVersion=v9"/>
		<add key ="CMPSTimeOut" value="30000"/>
		<add key ="SpringIdentifier" value="SPRING_GSM"/>
		<add key="EmailScodes" value="S0145869"/>
		<add key="PremiumEmailScodes" value="S0200762"/>
		<add key="BTTVProdCode" value="S0146404"/>
		<add key="BTTVServiceCode" value="BTTV:DEFAULT"/>
		<add key="DEVAPIServiceAddress" value="http://BTDEVAPI"/>
		<add key="notificationExceptionTraceEnable" value="true"/>
		<add key="CFProdCode" value="ContentFiltering"/>
		<add key="CFService" value="CONTENTFILTERING:DEFAULT"/>
		<add key="BBWIFIHubStatus" value="OPTED_IN"/>
		<add key="BTSpringProductCode" value="S0316296"/>
		<add key="isSpringNewJourneySwitch" value="true"/>
		<add key="SpringLogFilePath" value="C:\App_Logs\SpringLogs" />
		<add key="MQNotificationLogFilePath" value="C:\App_Logs\MQOutLogs"/>
		<add key="isMQNotificationLoggingEnabled" value="false"/>
		<add key="NewJourneySCodes"  value="S0316296,S0309824"/>
		<add key="springRetryCount" value="3"/>
		<add key="springWaitTime" value="5000"/>
		<add key="MessageManagerProdCode" value="MessageManager"/>
		<add key="MessageManagerService" value="Message_Manager"/>
		<add key="DNPThomasMigrationSwitch" value="ON" />
		<add key="SpringPendingOrderDelimiter" value="|"/>
		<add key="destinationCMPS"  value="CMPS"/>
		<add key="NetworkSecurityService" value="NETWORKSECURITY:DEFAULT"/>
		<add key="NetworkSecurityProdCode" value="NetworkSecurity"/>
		<add key="NominumVasServices" value="ContentFiltering,NetworkSecurity"/>
		<add key="InviteRolePendingordervalue" value="SIMOToSharedPlan,HSToSharedPlan,SharedPlanToSIMO,SharedPlanToHS" />
		<add key="GetinviterolesbyUser" value="https://ec-webservices-21cn-profile.nat.bt.com/v1/users/" />
		<add key="GetinviterolesSentByProfile" value="https://ec-webservices-21cn-profile.nat.bt.com/v1/serviceProfiles/" />
		<add key="DnPManagedEmailSupplier" value="BTYUM,CriticalPath,MX"/>
		<add key ="VASEmailSupplierSwitch" value="MX"/>
		<add key="OWM_Email_Supplier" value="CriticalPath"/>
		<add key="MX_Email_Supplier" value="MX"/>
		<add key="yahoo_Email_Supplier" value="BTYUM"/>
		<add key="MX_Email_Supplier" value="MX"/>
		<add key="PaygProductId" value="VPEM000020,VPEM000050"/>
		<add key="CeaseMofifyServicesList" value="BTWIFI:DEFAULT,ADVANCEDSECURITY:COMMON,CONTENTANYWHERE:DEFAULT" />
		<add key="HCSProductCode" value="ContractAndWarrantyService"/>
		<add key="HCSLogFilePath" value="C:\App_Logs\HCSWarrantyLogs" />
		<add key="isHCSWarrantyNewJourneySwitch" value="true"/>
		<add key="isBTPlusMarkerNewJourneySwitch" value="true"/>
		<add key="BTPlusMarkerProductCode" value="S0359801"/>
		<!--<add key="isAssociateBTPlusMarkerNewJourneySwitch" value="true"/>-->
		<add key="AssociateBTPlusMarkerProductCode" value="S0433244"/>
		<add key="BTPlusMarkerLogFilePath" value="C:\App_Logs\BTPlusMarkerLogs" />
		<add key="BTConsumerBroadBandLogFilePath" value="C:\App_Logs\CHOLogs" />
		<add key="BTsportsdelegation" value="true"/>
		<add key="GetRoleRequestbyBac" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/mcir/V1/ServiceRoleRequest.xml"/>
		<add key="ManageRoleRequest" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/mcir/V1/ManageServiceRoleRequest"/>
		<add key="BBVasClassList" value="10,20,30,40,60,70,80,65,75,85" />
		<add key="McAfeeServices" value="BASICSECURITY,ADVANCEDSECURITY"/>
		<add key="MMAService" value="ADVANCEDSECURITY:COMMON"/>
		<add key="NPPService" value="ADVANCEDSECURITY"/>
		<add key="BasicSecurityService" value="BASICSECURITY"/>
		<add key="isPERetrySwitch" value="true"/>
		<add key="VoiceGetSIPurl" value="https://ec-webservices-21cn-profile.nat.bt.com/v2/domains/SIP_DEVICE/users/{identifier_Value}/IdentityCharacteristics"/>
		<!--<add key="ESBBaccreateurl" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/Retail/CMP/Capability/ManageCustomerBilling" />
    <add key="ESBrequestorderurl" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/Retail/CMP/Capability/ManageCustomerOrder" />
    <add key="ESBcankcreateurl" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/Retail/CMP/Capability/ManageCustomerContactPerson" />-->
		<add key="SkipCeaseforCA" value="true"/>
		<add key="BondedWifiIdentifier" value="BONDED_SEAMLESS_WIFI"/>
		<add key="BondedWifiIdentifierInMDM" value="Bonded Wi-Fi:DEFAULT"/>
		<add key ="BondedWifiProdCode" value ="Bonded Wi-Fi"/>
		<add key="BBPremiumEmailScode" value="S0395128"/>
		<add key="isDnPMigrationforHDRCompleted" value="false"/>
		<add key="IsBTRCE191515enabled" value="true"/>
		<add key="IsBTRCE191525enabled" value="true"/>
		<add key="isCrossProvisioningEnabled" value="true"/>
		<add key="RestCallTimeout" value="120000"/>
		<add key="DnPBaseUrl" value="https://ec-webservices-21cn-profile.nat.bt.com" />
		<add key="APIGWcertpath" value="C:\Program Files (x86)\BT\APIGWCerts\client.p12" />
		<add key="APIGWcertpassword" value="qwer1234" />
		<add key="IsBTR126808enabled" value="true"/>
		<add key="DUNSID" value="227015716"/>
		<add key="killsessionurl" value="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/Retail/ADLI/Capability/ManageProductDiagnostics"/>
		<add key="IsKillSessionRequiredatMSEOend" value="false"/>
		<add key="KillsessionTimeOut" value="120000"/>
		<add key="IsTariffCodeRequired" value="false"/>
		<add key="PremiumEmailCeaseStatus" value="active,pending-inactive,disabled_maxloginfail_a,inactive,cease-inactive,disabled_maxloginfail_c"/>
		<add key="PremiumEmailRoleDeleteStatuses" value="proposed,pending,unreserved,reserved"/>
		<add key="CLOUD_STOP_SELL_SWITCH" value="false"/>
		<add key="CLOUD_BULK_ACTIVATION_SWITCH" value="true"/>
		<add key="BundledProductType" value="bundled"/>
		<add key="IsNayanRegrade" value="true"/>
		<add key="NominumServices" value="ContentFiltering,MessageManager,NetworkSecurity,SafeSearch" />
		<add key="SSProdCode" value="SafeSearch" />
		<add key="SFService" value="SAFESEARCH:DEFAULT" />
		<add key="NayanEmailScodes" value="S0584744" />
		<add key="CloudScode" value="S0584764" />
		<add key ="NayanCloudCease" value="true"/>
		<add key="CSVFilePathForNOFScode" value="C:\Program Files (x86)\BT\APIGWCerts\NOFSCodes.csv"/>
		<add key ="EMAIL_VASF_SAF_PH2" value = "ON"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Order" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="httpProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9965536" maxBufferPoolSize="524288" maxReceivedMessageSize="9965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="httpEventService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_Order1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9965536" maxBufferPoolSize="524288" maxReceivedMessageSize="9965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IProductService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ClientProfileSyncBinding" closeTimeout="00:01:00"
						  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						  maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
						  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
								maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
									  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ServiceProfileSyncBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ManageCustomerSyncBinding" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ManageEbillingSoapBinding" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="WebHttpBinding_IProductService">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
				</binding>
				<binding name="WebHttpBinding_IProductService1">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
				</binding>
			</customBinding>
			<netTcpBinding>
				<binding name="tcpProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="http://ecprod.vasf.mcir.nat.bt.com:61114/BT.SaaS.Provisioning.EventService/EventService.svc" binding="basicHttpBinding" bindingConfiguration="httpEventService" contract="EventService.IEventService" name="httpEventService" />
			<endpoint address="http://ecprod.vasf.mcir.nat.bt.com:61116/BT.SaaS.MDMAPI.ProductService/ProductService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService" contract="MDMAPI.ProductService.IProductService" name="BasicHttpBinding_IProductService" />
			<endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IProductService" contract="MDMAPI.ProductService.IProductService" name="WebHttpBinding_IProductService" />
			<endpoint address="net.tcp://localhost/ProductService/ProductService.svc" binding="netTcpBinding" bindingConfiguration="tcpProductService" contract="MDMAPI.ProductService.IProductService" name="tcpProductService">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://ecprod.vasf.mcir.nat.bt.com:61116/BT.SaaS.MDMAPI.ProductService/ProductService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService1" contract="MDMAPI.ProductService.IProductService" name="BasicHttpBinding_IProductService1" />
			<endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IProductService1" contract="MDMAPI.ProductService.IProductService" name="WebHttpBinding_IProductService1" />
			<endpoint address="http://ecprod.vasf.mcir.nat.bt.com:61113/BT.SaaS.Provisioning.OrderReceiver/Order.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Order1" contract="PE.Order" name="BasicHttpBinding_Order" />
			<endpoint address="https://ec-webservices-21cn-profile.nat.bt.com/ManageClientProfile/2011/09/30/ClientProfileSync" binding="basicHttpBinding" bindingConfiguration="ClientProfileSyncBinding" contract="ClientProfileSyncPortType" name="ClientProfile_DnP" />
			<endpoint address="https://ec-webservices-21cn-profile.nat.bt.com/ManageServiceProfile/2011/09/30/ServiceProfileSync" binding="basicHttpBinding" bindingConfiguration="ServiceProfileSyncBinding" contract="ServiceProfileSyncPortType" name="ServiceProfile_DnP" />
			<endpoint address="http://tm1.robt.esb.intra.bt.com:61010/RoBTESB/Retail/CMP/Capability/ManageCustomer" binding="basicHttpBinding" bindingConfiguration="ManageCustomerSyncBinding" contract="ManageCustomerSyncPortType" name="ManageCustomerSyncPort" />
			<endpoint address="https://webservice.prod.btrcom.bt.com/ManageEbilling/services/ManageEbilling" binding="basicHttpBinding" bindingConfiguration="ManageEbillingSoapBinding" contract="ManageEbillingPortType" name="ManageEbilling" />
		</client>
	</system.serviceModel>

	<userSettings>
		<BT.SaaS.MSEO.MQService.Settings1>
			<setting name="TimerIntervalInSeconds" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="MQstring" serializeAs="String">
				<value>mq:queue/?</value>
			</setting>
			<setting name="AcceptedStatus" serializeAs="String">
				<value>Accepted</value>
			</setting>
			<setting name="RejectedStatus" serializeAs="String">
				<value>Rejected</value>
			</setting>
			<setting name="CompleteStatus" serializeAs="String">
				<value>Complete</value>
			</setting>
			<setting name="FailedStatus" serializeAs="String">
				<value>Failed</value>
			</setting>
			<setting name="SucessCode" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="FailedCode" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="TimerIntervalInSeconds" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="MQstring" serializeAs="String">
				<value>mq:queue/?</value>
			</setting>
			<setting name="AcceptedStatus" serializeAs="String">
				<value>Accepted</value>
			</setting>
			<setting name="RejectedStatus" serializeAs="String">
				<value>Rejected</value>
			</setting>
			<setting name="CompleteStatus" serializeAs="String">
				<value>Complete</value>
			</setting>
			<setting name="FailedStatus" serializeAs="String">
				<value>Failed</value>
			</setting>
			<setting name="SucessCode" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="FailedCode" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="IgnoredStatus" serializeAs="String">
				<value>Ignored</value>
			</setting>
			<setting name="InvalideRequestCode" serializeAs="String">
				<value>001</value>
			</setting>
		</BT.SaaS.MSEO.MQService.Settings1>
	</userSettings>
</configuration>