<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">				
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BT.SaaS.MSEOAdapter.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<dataConfiguration defaultDatabase="BT.SaaS.Core.Provisioning.InboundQueue.Properties.Settings.INBOUNDQUEUEConnectionString" />
	<connectionStrings>
		<add name="BT.SaaS.Core.Provisioning.InboundQueue.Properties.Settings.INBOUNDQUEUEConnectionString"
		  connectionString="[%IspssAdapter\INBOUNDQUEUEConnectionString%]"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	  defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="Enterprise Library Logging" formatter="Text Formatter"
			  log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Formatted EventLog TraceListener" />
			<add source="MSEO Adapter" formatter="Text Formatter" log="BT SaaS"
			  machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="BT SaaS ISPSS Adapter EventLog" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  traceOutputOptions="None" filter="All" type="BT.SaaS.Core.Shared.ErrorManagement.EventServiceListener.EventServiceTraceListener, BT.SaaS.Core.Shared.ErrorManagement.EventServiceListener, Version=[%Common\SaaSCore\AssemblyVersion%], Culture=neutral, PublicKeyToken=null"
			  name="BT SaaS DBEvent Trace Listener" initializeData="" formatter="Text Formatter" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  traceOutputOptions="None" filter="All" type="BT.SaaS.Core.Shared.ErrorManagement.DebugTraceListener, BT.SaaS.Core.Shared.ErrorManagement, Version=[%Common\SaaSCore\AssemblyVersion%], Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="BT SaaS Custom Trace Listener" initializeData="" formatter="Text Formatter" />
			<add name="VASTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\VasTraceFilePath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />      
			<add name="VASExceptionTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\VasExcpetionTraceFilePath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
      <add name="BTNetFlixListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\BTNetFlixPath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
      <add name="BTVPActivationListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\BTVPActivationPath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
      <add name="AHTLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\AHTLogPath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
      <add name="ESBTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\ESBTraceFilePath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
      <add name="ESBExceptionTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" fileName="[%MSEO.Adapter\ESBExcpetionTraceFilePath%]" formatter="VAS Trace Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="102400" timeStampPattern="yyyy-MM-dd HH mm ss fff" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Text Formatter" />			
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668" template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)},{severity},{message}" name="VAS Trace Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="BT SaaS">
				<listeners>
					<add name="BT SaaS ISPSS Adapter EventLog" />
					<add name="BT SaaS DBEvent Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="BT SaaS Debug">
				<listeners>
					<add name="BT SaaS Custom Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="VASEligilityTrace">
				<listeners>
					<add name="VASTraceListener" />
				</listeners>
			</add>      
			<add switchValue="All" name="VASEligilityExceptionTrace">
				<listeners>
					<add name="VASExceptionTraceListener" />
				</listeners>
			</add>
      <add switchValue="All" name="ESBCallsTrace">
        <listeners>
          <add name="ESBTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="ESBCallsExceptionTrace">
        <listeners>
          <add name="ESBExceptionTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="BTNetFlixTrace">
        <listeners>
          <add name="BTNetFlixListener" />
        </listeners>
      </add>
     <add switchValue="All" name="BTVPActivationTrace">
        <listeners>
          <add name="BTVPActivationListener" />
        </listeners>
      </add>
      <add switchValue="All" name="AHTLogTrace">
        <listeners>
          <add name="AHTLogListener" />
        </listeners>
      </add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
			  numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c127e3ee618da668"
			  name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<appSettings>
		<add key="EventIdRef" value="603" />
		<add key="mdmCacheRefreshTimeMinutes" value="20" />
		<add key ="IgnoreProductList" value =""/>
		<add key ="ProductsWithServiceName" value ="S0001300-PR0000000003800-TA0000000003800;S0162974;S0162977;S0220584"/>
		<add key ="MQRequestQueueName" value ="[%MSEO.Adapter\MQRequestQueueName%]"/>
		<add key ="MQRequestHostname" value ="[%MSEO.Adapter\MQRequestHostName%]"/>
		<add key ="MQRequestPort" value ="[%MSEO.Adapter\MQRequestPort%]"/>
		<add key ="MQRequestQueueManager" value ="[%MSEO.Adapter\MQRequestQueueManager%]"/>
		<add key ="MQRequestUserName" value ="[%MSEO.Adapter\MQRequestUserID%]"/>
		<add key ="MQRequestPassword" value ="[%MSEO.Adapter\MQRequestPassword%]"/>
		<add key ="MQRequestChannel" value ="[%MSEO.Adapter\MQRequestChannel%]"/>
		<add key ="MQResponseQueueName" value ="[%MSEO.Adapter\MQResponseQueueName%]"/>
		<add key ="MQResponseHostname" value ="[%MSEO.Adapter\MQResponseHostName%]"/>
		<add key ="MQResponsePort" value ="[%MSEO.Adapter\MQResponsePort%]"/>
		<add key ="MQResponseQueueManager" value ="[%MSEO.Adapter\MQResponseQueueManager%]"/>
		<add key ="MQResponseUserName" value ="[%MSEO.Adapter\MQResponseUserID%]"/>
		<add key ="MQResponsePassword" value ="[%MSEO.Adapter\MQResponsePassword%]"/>
		<add key ="MQResponseChannel" value ="[%MSEO.Adapter\MQResponseChannel%]"/>
		<add key ="GaurdProducts" value="S0162974-NPPLUS2;S0220584-FP" />
		<add key="DnPUser" value="[%Common\DnP\User%]" />
		<add key="DnPPassword" value="[%Common\DnP\Password%]" />
		<add key="VASProductFamily" value="BasicSecurity;AdvancedSecurity;ContentAnywhere;ContentFiltering;Email;BTWIFI;NetworkSecurity;Bonded Wi-Fi"/>
		<add key="VASContentAnyWhereProductFamily" value="ContentAnywhere"/>
		<add key="VasContentFilteringProductFamily" value="ContentFiltering"/>
		<add key="VASSubType" value="MAC;Windows;Default;Common"/>
		<add key="LogFilePath" value="[%MSEO.Adapter\HttPLogFilePath%]" />
		<add key="VoInfinityLogFilePath" value="[%MSEO.Adapter\VoiceInfinityLogFilePath%]" />
		<add key ="BTIEmailIdentityStatus" value ="reserved,unreserved,proposed,available"/>
		<add key ="CAService" value="CONTENTANYWHERE:DEFAULT"/>
		<add key ="DanteEMailProdCode" value ="Email"/>
		<!--ccp 78-->
		<add key ="CloudProdCode" value ="Cloud"/>
		<add key ="WifiProdCode" value ="BTWIFI"/>
    <add key ="BondedWifiProdCode" value ="Bonded Wi-Fi"/>
		<add key="AccountTrustMethodStatus" value ="claimed,provedbyorder,provedoffline"/>
		<add key="BTIEmailErrorCodes"  value="777,004,999003,999004" />
		<add key="E2EData" value="[%MSEO.Adapter\E2EData%]"/>
		<add key="ProjectID" value="[%MSEO.Adapter\ProjectID%]"/>
		<add key="Component" value="ManageOrder"/>
		<add key="logHandlingFilename" value ="[%BPTM\logHandlingFilename%]"/>
		<add key="logMessagesFilename" value ="[%BPTM\logMessagesFilename%]"/>
		<add key="destinationSystemFsecure" value="FSecure"/>
		<add key ="destinationBtcom" value="BT.com"/>
		<add key ="destinationOfs" value="OFS"/>
		<add key ="destinationOneView" value="OneView"/>
		<add key ="destinationMCSO" value="MCSO"/>
		<add key ="destinationRIOSS" value="RIOSS"/>
		<add key ="destinationHestia" value="HESTIA"/>
		<add key ="BBMTServiceAddress" value ="http://bt.Resolve.com"/>
		<add key ="destinationSystem" value="BT.com"/>
		<add key ="destinationDnP" value="SEF-CC-DP-ManageWS"/>
		<add key="serviceslist" value="BTWIFI:DEFAULT,BTSPORT:DIGITAL,CONTRACTANDWARRANTY,ASSOCIATE_BT_PLUS_MARKER,BT_PLUS_MARKER,BONDED_SEAMLESS_WIFI"/>
		<add key="serviceslist2" value="BTIEMAIL:DEFAULT,SPRING_GSM,SPRING_WIFI,IP_VOICE_SERVICE,BT_CONSUMER_BROADBAND"/>
		<add key="DnPEPUrl" value="[%Common\DnP\ClientProfileSyncccp28%]"/>
		<add key="EmailScodes" value="S0145869"/>
		<add key="PremiumEmailScodes" value="S0200762"/>
		<!--ccp 78-->
		<add key="NayanEmailScodes" value="S0584744" />
		<add key="CloudScode" value="S0584764" />
		<add key="BBWifiVasProductCode" value="VPWF000010"/>
		<add key="SpringWifiVasProductCode" value="VPWF000020"/>
		<add key="DEVAPIServiceAddress" value="http://BTDEVAPI"/>
		<add key="ESBAPIServiceAddress" value="http://BTESBAPI"/>
		<add key ="DanteIdentifier" value="BTIEMAIL:DEFAULT"/>
		<add key ="WifiIdentifier" value="BTWIFI:DEFAULT"/>
		<add key ="DanteIdentifierInMDM" value="EMAIL:DEFAULT"/>
		<add key="VASEarlyActivationProducts"  value="Email;BTWIFI;Bonded Wi-Fi"/>
		<add key="VASUpgradeProducts"  value="CONTENTANYWHERE:DEFAULT;BTWIFI:DEFAULT;ADVANCEDSECURITY:COMMON"/>
		<add key="SpringWIFIServiceTier" value="20"/>
		<add key="BBWIFIServiceTier" value="10"/>
		<add key="BBWIFIHubStatus" value="OPTED_IN"/>
		<add key="MigrationSwitch"  value="OFF" />
		<add key="WifiSwitch"  value="ON" />
		<add key="VASMigrationSwitch"  value="OFF" />
		<add key="BTTVProdCode" value="S0146404"/>
		<add key="BTTVServiceCode" value="BTTV:DEFAULT"/>
		<add key="CFService" value="CONTENTFILTERING:DEFAULT"/>
		<add key="CFProdCode" value="ContentFiltering"/>
		<!--ccp 78-->
		<add key="SSProdCode" value="SafeSearch" />
		<add key="SFService" value="SAFESEARCH:DEFAULT" />		
		<add key="FsecureValidToDate" value="2030-12-20"/>
		<add key ="destinationESB" value="RoBTESB"/>
		<add key="MessageManagerProdCode" value="MessageManager"/>
		<add key="MessageManagerService" value="Message_Manager"/>
		<add key="DNPThomasMigrationSwitch" value="ON" />
		<add key="AHTDeinkRoleIdentities" value="BTCOM,BTWIFI_DEVICE_ID,8021XUSERNAME,WISPRUSERNAME,BTIEMAILID,IP_VOICE_SERVICE"/>
		<add key="AHTDefaultRoleDelinkServices" value="BTWIFI:DEFAULT,BTSPORT:DIGITAL,CONTENTANYWHERE:DEFAULT,CONTRACTANDWARRANTY,ASSOCIATE_BT_PLUS_MARKER,BT_PLUS_MARKER"/>
		<add key="BTWifiRoleIdentities" value="BTCOM,BTWIFI_DEVICE_ID,8021XUSERNAME,WISPRUSERNAME"/>
		<add key="adminrolecheckservices" value="BTTV:DEFAULT,MESSAGE_MANAGER,MANAGE_ACCOUNT"/>
		<!--<add key="NominumServices" value="ContentFiltering,MessageManager,NetworkSecurity"/>-->
		<!--ccp 78-->
		<add key="NominumServices" value="ContentFiltering,MessageManager,NetworkSecurity,SafeSearch" />
		<add key="NetworkSecurityService" value="NETWORKSECURITY:DEFAULT"/>
		<add key="NetworkSecurityProdCode" value="NetworkSecurity"/>
		<add key="NominumVasServices" value="ContentFiltering,NetworkSecurity"/>
		<add key="InviteRolePendingordervalue" value="SIMOToSharedPlan,HSToSharedPlan,SharedPlanToSIMO,SharedPlanToHS" />
		<add key="GetinviterolesbyUser" value="[%MSEO.Adapter\GetinviterolesbyUser%]" />
		<add key="GetinviterolesSentByProfile" value="[%MSEO.Adapter\GetinviterolesSentByProfile%]" />
		<add key ="CMPSTimeOut" value="30000"/>
		<add key="DnPManagedEmailSupplier" value="BTYUM,CriticalPath"/>
		<add key="MSEOSupportedBBMTModifyStatuses" value="PENDING-INACTIVE,EXPIRED,CEASE-INACTIVE,INACTIVE,COMPROMISED,BARRED-ABUSE,BANNED,TRANSFERRING,MARKED-INACTIVE" />
		<add key ="VASEmailSupplierSwitch" value="MX"/>
		<add key="OWM_Email_Supplier" value="CriticalPath"/>
		<add key="yahoo_Email_Supplier" value="BTYUM"/>
    <add key="MX_Email_Supplier" value="MX"/>
		<add key="EmailIdentityStatus" value="active,transferring,pending-inactive,cease-inactive"/>
		<add key="BBVasClassList" value="10,20,30,40,60,70,80,65,75,85" />
		<add key="McAfeeServices" value="BasicSecurity,AdvancedSecurity"/>
		<add key="MMAService" value="ADVANCEDSECURITY:COMMON"/>
		<add key="NPPService" value="ADVANCEDSECURITY"/>
		<add key="NPPWindowsService" value="ADVANCEDSECURITY:WINDOWS"/>
		<add key="BasicSecurityService" value="BASICSECURITY"/>
		<add key="McAfeeURL" value="[%McAfeeAdapter\McAfeeProductDownloadURL%]"/>
		<add key="destinationSystemMcAfee" value="McAfee"/>
		<add key="partnerid" value="691"/>
		<add key="mmasuppliercode" value="691-89653-2dmma"/>
		<add key="FSecureUrl" value="[%FSecureAdapter\SubscriptionManagementUri%]"/>
		<add key="ProxyforGetCalls" value="http://10.35.76.175:8080"/>
		<add key="isProxyEnabledforGetCalls" value="[%FSecureAdapter\isProxyEnabledforGetCalls%]"/>
		<add key="SkipCeaseforCA" value="false"/>
		<add key="BTPlusProductCode" value="S0359801"/>
		<add key ="SleepTimeoutInMilliSec" value="5000"/>
		<add key="RetryCountForThomasProvide" value="5"/>
		<add key="IsLoggingEnabledforGetcalls" value="true"/>    
		<add key="BondedWifiIdentifier" value="BONDED_SEAMLESS_WIFI"/>
		<add key="BondedWifiIdentifierInMDM" value="Bonded Wi-Fi:DEFAULT"/>
    <add key="BBPremiumEmailScode" value="S0395128"/>
    <add key="isStaretegicProductModelLaunched" value="true"/>
    <add key="ESBBaccreateurl" value="[%MSEO.Adapter\ESBManagecustomerBillingurl%]" />
    <add key="ESBrequestorderurl" value="[%MSEO.Adapter\ESBManagecustomerorderurl%]" />
    <add key="ESBcankcreateurl" value="[%MSEO.Adapter\ESBMCCPurl%]" />
    <add key="IsBTRCE191515enabled" value="true"/>
    <add key="IsBTRCE191525enabled" value="true"/>
    <add key="PremiumEmailCeaseStatus" value="proposed,expired,UNRESOLVED"/>
    <add key="RestCallTimeout" value="120000"/>
    <add key ="ESBBaseURI" value ="[%MCIRServices\ESBBaseUrl%]"/>
    <add key ="ESBV6BaseURI" value ="[%MCIRServices\ESBV6GIDBaseURL%]"/>
    <add key ="ESBGCDBaseURI" value ="[%MCIRServices\ESBGCDBaseURI%]"/>
    <add key="ESBcakcreateurl" value="[%MSEO.Adapter\ESBManagecustomerurl%]"/>
    <add key="IsVasSupplierSwitchforEmailProvisioningEnabled" value="true"/>
    <add key="IsRequestOrderfailed" value="false"/>
    <add key="ESBSystemID" value="ESB"/>
    <add key="IsdefaultemailsupplierMX" value="true" />
    <add key="APIGWBaseURI" value="[%MCIRServices\APIGWBaseUrl%]" />
    <add key="APIGWcertpath" value="[%MCIRServices\APIGWcertpath%]" />
    <add key="APIGWcertpassword" value="qwer1234" />
    <add key="ImportAllowedStatus" value="ACTIVE,TRANSFERRING,PENDING-INACTIVE,CEASE-INACTIVE,MARKED-INACTIVE,EXPIRED_PWD,DISABLED_MAXLOGINFAIL_A,DISABLED_MAXLOGINFAIL_C,INACTIVE,COMPROMISED,BARRED-INACTIVE,BARRED-ABUSE"/>
    <add key="ImportUnmergedAllowedStatus" value="ACTIVE,PENDING-INACTIVE,DISABLED_MAXLOGINFAIL_A,MARKED-INACTIVE"/>
    <add key="ImportActiveAllowedStatus" value="ACTIVE,PENDING-INACTIVE,MARKED-INACTIVE,DISABLED_MAXLOGINFAIL_A,BARRED-INACTIVE,BARRED-ABUSE"/>
    <add key="ImportInactiveAllowedStatus" value="CEASE-INACTIVE,INACTIVE,DISABLED_MAXLOGINFAIL_C"/>
    <add key="CmpsHead" value="[%MSEO.Adapter\CmpsHead%]"/>
    <add key="CmpsTail" value="[%MSEO.Adapter\CmpsTail%]"/>
    <add key="VoiceGetSIPurl" value="[%MSEO.Adapter\GetSIPDevicedetails%]"/>
    <add key="IsTSOCE25333enabled" value="true"/>
    <!--<add key="IsBTR126808enabled" value="false"/>-->
    <add key="IsSAASRETAIL2748enabled" value="true"/>
    <add key="DUNSID" value="[%MSEO.Adapter\DUNSID%]"/>
    <add key="killsessionurl" value="[%MSEO.Adapter\killsessionurl%]"/>
    <add key="IsKillSessionRequiredatMSEOend" value="false"/>
    <add key="KillsessionTimeOut" value="120000"/>
    <add key="CLOUD_STOP_SELL_SWITCH" value="true"/>
    <!--ccp 78-->
	<add key="IsRegrade" value="true"/>	
    <add key="BundledProductType" value="bundled"/>

  </appSettings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<!-- adde below tags for HttpRequest Logging starts-->
			<add name="BT.SaaS.HttpModuleLogging" type="BT.SaaS.HttpModuleLogging.LogRequest,BT.SaaS.HttpModuleLogging" preCondition=""/>
			<!-- comment the below line to enable logging-->
			<remove name="BT.SaaS.HttpModuleLogging"/>
			<!-- adde below tags for HttpRequest Logging ends-->
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Order" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="httpProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9965536" maxBufferPoolSize="524288" maxReceivedMessageSize="9965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="httpEventService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_Order1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="9965536" maxBufferPoolSize="524288" maxReceivedMessageSize="9965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
        
				<binding name="BasicHttpBinding_IProductService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ClientProfileSyncBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ServiceProfileSyncBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
        <binding name="ManageCustomerSyncBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ManageCustomerContactPersonSyncBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ManageCustomerBillingSyncBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="WebHttpBinding_IProductService">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
				</binding>
				<binding name="WebHttpBinding_IProductService1">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
				</binding>
				<binding name="SubscriptionManagementHttpBinding">
					<!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://opi11.datamodel.ws.fsecure.com':    -->
					<!--    <wsdl:binding name='SubscriptionManagementHttpBinding'>    -->
					<!--        <wspe:Utf816FFFECharacterEncoding xmlns:wspe="http://schemas.xmlsoap.org/ws/2004/09/policy/encoding">..</wspe:Utf816FFFECharacterEncoding>    -->
					<security defaultAlgorithmSuite="TripleDes" authenticationMode="UserNameOverTransport"
						requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false"
						keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
						<localClientSettings cacheCookies="true" detectReplays="false"
							replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
							replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
							sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
							timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
						<localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
							maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
							negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
							sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
							reconnectTransportOnFailure="true" maxPendingSessions="128"
							maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
						<secureConversationBootstrap />
					</security>
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
						messageVersion="Soap11" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
						maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
						bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
						realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
						useDefaultWebProxy="true" requireClientCertificate="false" />
				</binding>
			</customBinding>
			<netTcpBinding>
				<binding name="tcpProductService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="[%MSEO.Adapter\EventService%]" binding="basicHttpBinding" bindingConfiguration="httpEventService" contract="EventService.IEventService" name="httpEventService" />
			<endpoint address="[%MSEO.Adapter\MDMAPI\ProductService%]" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService" contract="MDMAPI.ProductService.IProductService" name="BasicHttpBinding_IProductService" />
			<endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IProductService" contract="MDMAPI.ProductService.IProductService" name="WebHttpBinding_IProductService" />
			<endpoint address="net.tcp://localhost/ProductService/ProductService.svc" binding="netTcpBinding" bindingConfiguration="tcpProductService" contract="MDMAPI.ProductService.IProductService" name="tcpProductService">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>
			<endpoint address="[%MSEO.Adapter\MDMAPI\ProductService%]" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService1" contract="MDMAPI.ProductService.IProductService" name="BasicHttpBinding_IProductService1" />
			<endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IProductService1" contract="MDMAPI.ProductService.IProductService" name="WebHttpBinding_IProductService1" />
			<endpoint address="[%MSEO.Adapter\OrderReceiver%]" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Order1" contract="PE.Order" name="BasicHttpBinding_Order" />
			<endpoint address="[%Common\DnP\DnPClientProfileSyncccp28SSL%]" binding="basicHttpBinding" bindingConfiguration="ClientProfileSyncBinding" contract="ClientProfileSyncPortType" name="ClientProfile_DnP" />
			<endpoint address="[%FSecureAdapter\SubscriptionManagementUri%]"
					 binding="customBinding" bindingConfiguration="SubscriptionManagementHttpBinding"
					 contract="SubscriptionManagement" name="SubscriptionManagementHttpPort" />
			<endpoint address="[%Common\DnP\ServiceProfileSyncccpSSL%]" binding="basicHttpBinding" bindingConfiguration="ServiceProfileSyncBinding" contract="ServiceProfileSyncPortType" name="ServiceProfile_DnP" />
      <endpoint address="[%MSEO.Adapter\ESBManagecustomerurl%]"
          binding="basicHttpBinding" bindingConfiguration="ManageCustomerSyncBinding"
          contract="ManageCustomerSyncPortType" name="ManageCustomerSyncPort" />
      <endpoint address="[%MSEO.Adapter\ESBMCCPurl%]"
                      binding="basicHttpBinding" bindingConfiguration="ManageCustomerContactPersonSyncBinding"
                      contract="ManageCustomerContactPersonSyncPortType" name="ManageCustomerContactPersonSyncPort" />
      <endpoint address="[%MSEO.Adapter\ESBManagecustomerBillingurl%]"
                binding="basicHttpBinding" bindingConfiguration="ManageCustomerBillingSyncBinding"
                contract="ManageCustomerBillingSyncPortType" name="ManageCustomerBillingSyncPort" />      
		</client>
	</system.serviceModel>
	<applicationSettings>
		<BT.SaaS.MSEOAdapter.Settings1>
			<setting name="AcceptedStatus" serializeAs="String">
				<value>Accepted</value>
			</setting>
			<setting name="RejectedStatus" serializeAs="String">
				<value>Rejected</value>
			</setting>
			<setting name="CompleteStatus" serializeAs="String">
				<value>Complete</value>
			</setting>
			<setting name="FailedStatus" serializeAs="String">
				<value>Failed</value>
			</setting>
			<setting name="SucessCode" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="FailedCode" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="MQstring" serializeAs="String">
				<value>mq:queue/?</value>
			</setting>
			<setting name="IsProxyRequired" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyUsername" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyAddress" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyPort" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="InvalideRequestCode" serializeAs="String">
				<value>001</value>
			</setting>
			<setting name="ConsumerServiceProviderId" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="IgnoredStatus" serializeAs="String">
				<value>Ignored</value>
			</setting>
			<setting name=" DanteEmailString" serializeAs="String">
				<value>http://bt.emailmanagement.com</value>
			</setting>
			<setting name="FSecureOperatorID" serializeAs="String">
				<value>[%FSecureAdapter\OperatorID%]</value>
			</setting>
			<setting name="FSecureUserName" serializeAs="String">
				<value>[%FSecureAdapter\FSecureServiceUserName%]</value>
			</setting>
			<setting name="FSecurePassword" serializeAs="String">
				<value>[%FSecureAdapter\FSecureServicePassword%]</value>
			</setting>
			<setting name="OVString" serializeAs="String">
				<value>ov:queue/?</value>
			</setting>
			<setting name="ESBQueueString" serializeAs="String">
				<value>esb:queue/?</value>
			</setting>
			<setting name="DEVAPIServiceAddress" serializeAs="String">
				<value>http://BTDEVAPI</value>
			</setting>
			<setting name="ESBAPIServiceAddress" serializeAs="String">
				<value>http://BTESBAPI</value>
			</setting>
			<setting name="PeEventIdRef" serializeAs="String">
				<value>303</value>
			</setting>
			<setting name="BUTString" serializeAs="String">
				<value>http://ccm.intra.bt.com/BulkUtility</value>
			</setting>
			<setting name="adminToolString" serializeAs="String">
				<value>http://bt.admintool.com</value>
			</setting>
		</BT.SaaS.MSEOAdapter.Settings1>
	</applicationSettings>
	<system.net>
		<defaultProxy enabled="[%Common\AdapterProxyRequired%]">
			<proxy autoDetect="True" scriptLocation="[%Common\ProxyAddress%]" />
		</defaultProxy>
	</system.net>
</configuration>
